@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     LetsShop is a dynamic e-commerce website. Here, you can find and purchase 
     all products with ease and comfort, sitting at home. We have a very reliable 
     stock of products. The shipping is free and always will be.
</p>

<img src="../../Images/cartblueman.jpg" alt="Happy Shopping" height="230px" />

<h4>Happy Shopping! :)</h4>

<p>___________________________________________________________<br /></p>
<b>Contact Me - </b>
<p>
    
    Ashok Bijoy Debnath (ashokbijoydebnath@gmail.com)<br />
</p>
