@{
    ViewBag.Title = "ForgotPassword";
}

<p style="color: Red">@ViewBag.Message</p>

<h2>ForgotPassword</h2>
 @using (Html.BeginForm()) {
 <div class="display-label">UserName</div>
    <div class="display-field">
       @Html.TextBox("UserId")
    </div>

   
    <p>
        <input type="submit" value="Continue" />
       
    </p>
}
